@model IEnumerable<waPruebaLogin.Models.catedratico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre completo
        </th>
        <th>Imagen</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_completo)
        </td>
        <td>
            @if (item.dir_foto != "" && item.dir_foto != null)
            {
                <img src="~/Uploads/catedraticos/@item.dir_foto" height="80" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_catedratico }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_catedratico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_catedratico })
        </td>
    </tr>
}

</table>
