@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Plantilla/default.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Facturas</h2>

<div class="row"><div class="col-md-6">
       @Html.ActionLink("Nueva Factura", "Create", null, new { @class = "btn btn-primary btn-sm" })
    </div>
    

    @using (Html.BeginForm("Index", "Facturas", FormMethod.Get, new { @class="col-md-6"}))
    {
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-sm form-control-borderless" name="busqueda" type="search" placeholder="Ingrese un texto de búsqueda.">
            </div>
            <!--end of col-->
            <div class="col-auto">
                <button class="btn btn-sm btn-success" type="submit">Buscar</button>
            </div>
            <!--end of col-->
        </div>
    }

</div>
<table class="table">
    <tr>
        <th>
            Fecha de Factura
        </th>
        <th>
            Serie de Factura
        </th>
        <th>
            Descripción
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.pagina) {
    <tr>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.fec_factura)
        </td>
        <td>
            @item.serie_factura
        </td>
        <td>
            @item.descripcion
        </td>
        <td>
            @item.cliente.nombres @item.cliente.apellidos
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_factura }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.cod_factura }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cod_factura })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)ViewBag.pagina, page => Url.Action("Index", new { page = page }))