@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Plantilla/default.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Factura", "Create", null,new { @class="btn btn-primary btn-sm"})


</p>
<table class="table">
    <tr>
        <th>
            Fecha de Factura
        </th>
        <th>
            Serie de Factura
        </th>
        <th>
            Descripción
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.pagina) {
    <tr>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.fec_factura)
        </td>
        <td>
            @item.serie_factura
        </td>
        <td>
            @item.descripcion
        </td>
        <td>
            @item.cliente.nombres @item.cliente.apellidos
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_factura }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.cod_factura }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cod_factura })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)ViewBag.pagina, page => Url.Action("Index", new { page = page }))