@model IEnumerable<waPruebaLogin.Models.seccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.letra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catedratico.nombre_completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cursos.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.letra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catedratico.nombre_completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cursos.nombre)
        </td>
        <td>
            @Html.ActionLink("Agregar Actividades", "ListaActividades", new { id=item.cod_seccion }) |
            @Html.ActionLink("Notas", "Notas", new { id=item.cod_seccion }) |
            @Html.ActionLink("Generar Cuadro", "Generar", new { id=item.cod_seccion },new { @target = "_blank" })
        </td>
    </tr>
}

</table>
