<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="body-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" placeholder="Search" type="text">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-lg-2">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-home"></i> @Html.ActionLink("Inicio", "Index", "Home")
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-search-location"></i> @Html.ActionLink("Acerca de", "About", "Home")
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Contácto", "Contact", "Home")
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Hola Mundo", "HolaMundo", "Home")
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 col-lg-10">
                    @RenderBody()
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>Copyright CUNOR 2018</center>
            </div>
        </div>
    </div>
</body>
</html>
